/*----------------------------------------------------------------*\

  GREAT ANIMATION RESOURCES
	https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/

\*----------------------------------------------------------------*/

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes gradientmotion {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradientmotion {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradientmotion {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes graphic {
	0% {
		top: 33.5%;
		left: 8.2%;
		opacity: 0;
	}

	8% {
		opacity: 1;
	}

	16% {
		top: 42.5%;
		left: 8.5%;
	}

	33% {
		top: 59.5%;
		left: 34.5%;
	}

	50% {
		top: 46.5%;
		left: 58.5%;
	}

	66% {
		top: 30%;
		left: 33.3%;
	}

	74% {
		opacity: 1;
	}

	83% {
		top: 19%;
		left: 33.3%;
		opacity: 0;
	}

	100% {
		top: 19%;
		left: 33.3%;
		opacity: 0;
	}
}

@-moz-keyframes graphic {
	0% {
		top: 33.5%;
		left: 8.2%;
		opacity: 0;
	}

	8% {
		opacity: 1;
	}

	16% {
		top: 42.5%;
		left: 8.5%;
	}

	33% {
		top: 59.5%;
		left: 34.5%;
	}

	50% {
		top: 46.5%;
		left: 58.5%;
	}

	66% {
		top: 30%;
		left: 33.3%;
	}

	74% {
		opacity: 1;
	}

	83% {
		top: 19%;
		left: 33.3%;
		opacity: 0;
	}

	100% {
		top: 19%;
		left: 33.3%;
		opacity: 0;
	}
}

@keyframes graphic {
	0% {
		top: 33.5%;
		left: 8.2%;
		opacity: 0;
		transform: rotate(90deg);
	}

	8% {
		opacity: 1;
	}

	15% {
		transform: rotate(90deg);
	}

	16% {
		top: 42.5%;
		left: 8.5%;
		transform: rotate(45deg);
	}

	32% {
		transform: rotate(45deg);
	}

	33% {
		top: 59.5%;
		left: 34.5%;
		transform: rotate(-45deg);
	}

	49% {
		transform: rotate(-45deg);
	}

	50% {
		top: 46.5%;
		left: 58.5%;
		transform: rotate(-145deg);
	}

	65% {
		transform: rotate(-145deg);
	}

	66% {
		top: 30%;
		left: 33.3%;
		transform: rotate(-90deg);
	}

	74% {
		opacity: 1;
	}

	83% {
		top: 19%;
		left: 33.3%;
		opacity: 0;
		transform: rotate(-90deg);
	}

	100% {
		top: 19%;
		left: 33.3%;
		opacity: 0;
		transform: rotate(-90deg);
	}
}