/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: .25em 0 .25em 0;
	padding: 1em 2em;
	cursor: pointer;
	border: 2px solid var(--Red);
	border-radius: 50px;
	background-color: var(--Red);
	font-size: 14px;
	font-family: 'Trueno Bold';
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: var(--White);
	outline: none;
	position: relative;
	z-index: 5;
	overflow: hidden;
	transition: all .35s linear;

	&+button,
	&+.button {
		margin: .25em 0 .25em .25em;
	}

	&::after {
		content: '';
		height: 110%;
		width: calc(100% + 100px);
		background: var(--RedDark);
		position: absolute;
		top: -5%;
		right: calc(100% + 50px);
		opacity: .25;
		transform: skewX(45deg) translateX(0);
		z-index: -1;
		transition: all 250ms;
	}

	&:hover,
	&:focus,
	&:active {
		border-color: var(--RedDark);

		&::after {
			opacity: 1;
			transform: skewX(45deg) translateX(100%);
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-white {
		border-color: var(--White);
		background-color: var(--White);
	}

	&.is-purple {
		border-color: var(--Purple);
		background-color: var(--Purple);

		&::after {
			background: var(--PurpleDark);
		}

		&:hover,
		&:focus,
		&:active {
			border-color: var(--PurpleDark);
		}
	}

	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-small {
		font-size: .875em;
		padding: .65em 1.5em;
	}

	&.is-large {
		font-size: 1.25em;
		padding: .75em 1.35em;
	}
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-ghost {
		background-color: transparent;
		color: var(--Red);
		text-transform: none;

		&::before {
			content: '';
			display: block;
			width: 1.25em;
			height: .8em;
			display: inline-block;
			float: right;
			margin-top: 3px;
			margin-left: 1em;
			background-image: url(../images/button-arrow.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&:hover,
		&:focus {
			border-color: var(--RedDark);
		}

		&.is-white {
			color: var(--White);
		}

		&.is-purple {
			color: var(--Purple);

			&::before {
				background-image: url(../images/button-arrow-purple.svg);
			}

			&:hover,
			&:focus {
				border-color: var(--PurpleDark);
				color: var(--White);

				&::before {
					background-image: url(../images/button-arrow.svg);
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		BORDERLESS MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-borderless {
		border-color: transparent;
		border-radius: 0;

		&::after {
			display: none;
		}

		&::before {
			margin-left: .5em;
			left: 0;
			transition: all .15s linear;
		}

		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
			color: var(--RedDark);

			&::before {
				position: relative;
				left: 4px;
			}
		}

		&.is-white {

			&:hover,
			&:focus,
			&:active {
				border-color: transparent;
				color: var(--Grey)
			}
		}

		&.is-purple {

			&:hover,
			&:focus,
			&:active {
				border-color: transparent;
				color: var(--PurpleDark);

				&::before {
					background-image: url(../images/button-arrow-purple.svg);
				}
			}
		}
	}
}