section.cards {
	&>div {
		max-width: var(--Width);
		width: 90%;
		margin: var(--LargeSpacing) auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	& .card {
		width: 100%;
		padding: 25px;
		border-radius: 7px;
		background-color: var(--White);
		box-shadow: 0 0 20px 0 rgba(104, 117, 226, 0.18);
		position: relative;
		margin-bottom: var(--Spacing);

		&:last-child {
			margin-bottom: 0;
		}

		@media(--800vp) {
			width: 48%;
			padding: 25px var(--Spacing);

			&:last-child,
			&:nth-last-child(2) {
				margin-bottom: 0;
			}
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h3 {
			color: var(--Purple);
			font-size: 20px;
		}

		& a.button {
			padding-left: 0;
			padding-bottom: 0;
			text-transform: none;
		}

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			top: -7px;
			left: 5%;
			height: 50px;
			width: 90%;
			border-radius: 50px;
			background: linear-gradient(116.57deg, #E29C41 0%, #FCD669 100%);
			box-shadow: inset 0 -8px 12px 0 rgba(71, 16, 152, 0.5);
		}
	}
}