/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	background-color: var(--Grey);
	color: var(--Blue);
	padding: var(--Spacing);
	text-align: center;
	position: relative;

	&>div {
		max-width: var(--Width);
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&>a {
			width: 100%;

			& svg {
				display: block;
				margin: 0 auto var(--SmallSpacing) auto;
			}
		}

		& section {
			width: 100%;

			@media(--800vp) {
				max-width: 50%;
			}

			@media(--800vp) {
				&:last-of-type {
					text-align: left;

					& nav ul {
						justify-content: flex-start;
					}
				}

				&:first-of-type {
					order: 1;
					text-align: right;

					& nav ul {
						justify-content: flex-end;
					}

					& a.button {
						display: table;
						margin: 0 0 var(--SmallSpacing) auto;
					}
				}
			}

			& nav {
				& ul {
					margin: 0;
					padding: 0;
					list-style: none;
					display: block;

					@media(--500vp) {
						display: flex;
						justify-content: center;
					}

					& li:last-child a {
						border: none;
					}

					& a {
						color: var(--Blue);
						padding: 0 .35em;
						text-decoration: none;

						@media(--500vp) {
							border-right: 1px solid var(--Blue);
						}

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}

			& p {
				margin: .35em 0;
			}

			& a.button {
				padding: 0 !important;
				margin: var(--SmallSpacing) 0;

				@media(--800vp) {
					margin: 0 0 var(--SmallSpacing) 0;
				}

				&::before {
					display: none !important;
				}
			}
		}
	}
}