/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	min-height: 450px;
	padding: 100px 0;
	align-items: center;
	display: flex;
	position: relative;
	color: var(--White);
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
	position: relative;
	background: linear-gradient(to right, rgba(101, 115, 219, 1) 30%, rgba(30, 36, 126, 1) 70%);
	background-size: 200% 100%;
	animation: gradientmotion 8s ease-in-out infinite;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 160px;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
		background: linear-gradient(to right, rgba(74, 84, 183, 1) 30%, rgba(85, 98, 198, 1) 70%);
		background-size: 200% 100%;
		animation: gradientmotion 16s ease-in-out infinite;

		@media(--800vp) {
			height: 150px;
			width: 80%;
		}
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 40%;
		clip-path: polygon(0 70px, 100% 0, 100% calc(100% - 100px), 0 100%);
		background: linear-gradient(to right, rgba(74, 84, 183, 1) 30%, rgba(85, 98, 198, 1) 70%);
		background-size: 200% 100%;
		animation: gradientmotion 12s ease-in-out infinite;
	}

	&>section {
		position: relative;
		max-width: var(--SmallWidth);
		width: 95%;
		text-align: center;
		z-index: 3;

		& h1,
		& p {
			color: var(--White);
		}

		& h1 {
			margin: 0;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}
}