section.team-members {
	& .title {
		max-width: var(--Width);
		width: 90%;
		margin: 0 auto var(--Spacing) auto;
		border-bottom: 1px solid var(--GreyDark);
		padding: 30px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		& h2 {
			margin-top: 0;
			width: 100%;

			@media(--500vp) {
				width: calc(100% - 210px);
				margin: 0;
			}
		}

		& .button {
			margin: 0;
		}
	}

	& .team {
		max-width: var(--SmallWidth);
		width: 90%;
		margin: 0 auto;
		padding-bottom: var(--Spacing);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media(--500vp) {
			justify-content: space-between;
		}

		& .member {
			width: 100%;
			max-width: 240px;
			text-align: center;

			@media(--500vp) {
				width: 48%;
			}

			& img {
				width: 100%;
				height: auto;
				border-radius: 50%;
			}

			& p {
				color: var(--Purple);
				font-size: 1.25em;
				font-family: 'Trueno Bold';
			}
		}
	}
}