/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STANDARD TEMPLATES
	left siddebar, right sidebar, both sidebar, 404, thank you

\*----------------------------------------------------------------*/

main,
article {
	position: relative;
}

/*----------------------------------------------------------------*\
	DEFAULT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.default-template {
	background-color: var(--Grey);
}

article.default-template {

	& section:nth-child(even) {
		padding: 100px 0;
		background-color: var(--White);
		clip-path: polygon(0 0, 100% 100px, 100% calc(100% - 100px), 0 100%);

		@media(--500vp) {
			padding: 150px 0;
		}

		&+section.banner.no-description {
			position: relative;
			z-index: 3;
			margin-top: -100px;

			&+section {
				margin-top: -100px;
			}
		}
	}

	& section:nth-child(odd) {
		padding: var(--Spacing) 0;
	}

	& section:last-child:nth-child(odd) {
		position: relative;
		padding-bottom: var(--LargeSpacing);

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 1px;
			background: var(--GreyDark);
			width: var(--Width);
			max-width: 95%;
			transform: translateX(-50%);
		}
	}

	& section:last-child:nth-child(even) {
		clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
		padding-bottom: var(--LargeSpacing);
	}
}


/*----------------------------------------------------------------*\
	ERROR / 404
\*----------------------------------------------------------------*/
.error404 header {
	min-height: 500px;
	padding-top: 0;
	padding-bottom: 200px;

	@media(--500vp) {
		padding: 100px 0 200px 0;
		min-height: 650px;
	}
}

section.error {
	max-width: var(--SmallWidth);
	width: 90%;
	padding: var(--Spacing);
	background-color: var(--Grey);
	margin-top: -275px;
	margin-bottom: 120px;

	& h2 {
		margin: 0 0 var(--Spacing) 0;
		color: var(--Purple);
		text-align: center;
	}

	& .button {
		display: table;
		margin: 2em auto 0 auto;
	}

	& .icon {
		width: 150px;
		height: 150px;
		margin: 0 auto;
		display: block;
		position: relative;

		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			&:first-child {
				animation: spin 8s linear infinite;
			}
		}

	}
}