/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FORM TEMPLATE & CONFIRMATION PAGES

\*----------------------------------------------------------------*/

.page-template-form header,
.page-template-confirmation header {
	min-height: 500px;
	padding-top: 0;
	padding-bottom: 200px;

	@media(--500vp) {
		padding: 100px 0 200px 0;
		min-height: 650px;
	}
}

section.form {
	max-width: var(--SmallWidth);
	width: 90%;
	padding: var(--Spacing) 30px;
	background-color: var(--Grey);
	margin-top: -275px;
	margin-bottom: 120px;

	@media(--500vp) {
		padding: var(--Spacing);
	}

	& h2 {
		text-align: center;
		color: var(--Purple);
	}

	& p {
		margin: 0 0 var(--Spacing) 0;
		text-align: center;
	}

	&.confirmation {

		& h2 {
			text-align: center;

			@media(--500vp) {
				text-align: left;
			}
		}

		& img {
			max-width: 100px;
			max-height: 100px;
			margin: 0 auto;
			display: block;
			transform: scale(0);
			transition: all .25s linear;

			&[data-emergence=visible] {
				transform: scale(1);
			}
		}
	}
}