/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FRONT PAGE

\*----------------------------------------------------------------*/
body.home.default-template {
	background-color: transparent;
}

.home {

	& header {
		height: auto;
		padding: 175px 0 0 0;
		margin-bottom: var(--LargeSpacing);
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		clip-path: none;
		position: relative;
		background: transparent;

		@media(--800vp) {
			flex-wrap: nowrap;
			padding: 175px 0 100px 0;
		}

		&::before {
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 70%;
			clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
			background: linear-gradient(to right, rgba(101, 115, 219, 1) 30%, rgba(30, 36, 126, 1) 70%);
			background-size: 200% 100%;
			animation: gradientmotion 8s ease-in-out infinite;

			@media(--800vp) {
				bottom: 0;
				height: 100%;
			}
		}

		& .gradients {
			content: '';
			position: absolute;
			top: 40%;
			right: 0;
			width: 100%;
			height: 30%;
			clip-path: polygon(0 70px, 100% 0, 100% calc(100% - 100px), 0 100%);
			background: linear-gradient(to right, rgba(74, 84, 183, 1) 30%, rgba(85, 98, 198, 1) 70%);
			background-size: 200% 100%;
			animation: gradientmotion 12s ease-in-out infinite;
			z-index: 2;

			@media(--800vp) {
				top: auto;
				bottom: 0;
				height: 40%;
			}
		}

		& section {
			position: relative;
			max-width: var(--LargeWidth);
			width: 95%;
			margin-bottom: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			@media(--800vp) {
				margin-bottom: -100px;
			}

			&>div {
				width: 100%;

				@media(--800vp) {
					width: 50%;
				}

				&>*:first-child {
					margin-top: 0;
				}

				&>*:last-child {
					margin-bottom: 0;
				}
			}
		}

		& h1 {
			font-size: 30px;
			text-align: left;

			@media(--1050vp) {
				font-size: 38px;
			}

			&+p {
				text-align: left;
				max-width: 350px;
			}
		}

		& .form {
			max-width: 450px;
			margin: var(--Spacing) auto 0 auto;
			text-align: left;

			@media(--800vp) {
				margin: 0;
			}

			& .confirm {
				display: none;
				text-align: center;

				& img {
					max-width: 70px;
					max-height: 70px;
					margin-top: 40px;
				}
			}

			&.success {
				& .start {
					display: none;
				}

				& .confirm {
					display: block;
				}
			}

			& h4 {
				color: var(--Purple);
				margin-top: 0;
				margin-bottom: .25em;
			}

			& p {
				color: var(--Blue);
				margin: 0 0 1em 0;
			}
		}
	}

	& section.wysiwyg-block {
		&>div>h2 {
			font-size: 22px;
			max-width: 100%;

			@media(--500vp) {
				padding-right: 15%;
			}

			@media(--800vp) {
				max-width: 60%;
			}
		}

		&:first-of-type {
			margin: var(--Spacing) auto;

			& a.button {
				margin: 1.75em 0;
			}
		}
	}

	& section.client-slider {
		margin: var(--LargeSpacing) auto var(--Spacing) auto;
		width: 95%;
		max-width: 1074px;

		& h2 {
			text-align: left;
			padding: 0 25px;
			margin: 0 auto 1em auto;
		}

		& .client-icons {
			width: 100%;
			max-width: 100%;
		}

		& .icon {
			padding: 0 25px;

			& img {
				width: 100%;
			}
		}
	}

	& section.graphic-cta {
		position: relative;
		padding: var(--LargeSpacing) 0;

		&>div {
			width: 90%;
			max-width: var(--LargeWidth);
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@media(--800vp) {
				display: block;
			}

			&>div {
				width: 100%;
				order: 1;

				@media(--800vp) {
					width: 40%;
					float: left;
					margin-bottom: 150px;
				}

				&:last-child {
					order: 3;

					@media(--800vp) {
						margin-bottom: 0;
					}

					& h2 {
						color: var(--Purple);
					}
				}

				&.graphic {
					width: 100%;
					order: 2;
					min-height: 400px;
					margin: var(--LargeSpacing) 0;
					position: relative;

					@media(--500vp) {
						min-height: 700px;
					}

					@media(--800vp) {
						width: 58%;
						margin: -200px 2% 0 0;
					}

					@media(--1050vp) {
						margin: -150px 2% 0 0;
					}

					&::before {
						content: '';
						background-image: url(../images/graphic-arrow.svg);
						background-size: contain;
						width: 12px;
						height: 12px;
						position: absolute;
						top: 33.5%;
						left: 8.2%;
						opacity: 0;
						z-index: 10;
						display: none;
					}

					& img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						max-width: 650px;
						height: auto;
						margin-top: -75px;
						opacity: 0;
						transition: all 1s ease-in-out;

						&:first-child {
							opacity: 1;
							margin-top: 0;
						}
					}

					&[data-emergence=visible] {
						&::before {
							animation: graphic 8s linear infinite 6s;
						}

						& img {
							opacity: 1;
							margin-top: 0;

							&:nth-child(2) {
								transition-delay: 0s;
							}

							&:nth-child(3) {
								transition-delay: 1s;
							}

							&:nth-child(4) {
								transition-delay: 2s;
							}

							&:nth-child(5) {
								transition-delay: 3s;
							}

							&:nth-child(6) {
								transition-delay: 4s;
							}
						}
					}
				}

				& .wysiwyg-block {
					&>*:first-child {
						margin-top: 0;
					}

					&>*:last-child {
						margin-bottom: 0;
					}
				}
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: calc(50% + 75px);
			background-color: var(--Grey);
			clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
			z-index: -1;
		}
	}

	& section.cards {
		padding: 0 0 var(--LargeSpacing) 0;
		position: relative;
		z-index: 2;
		overflow: hidden;

		@media(--800vp) {
			padding: 160px 0 var(--LargeSpacing) 0;
		}

		&::after {
			content: '';
			position: absolute;
			z-index: -3;
			top: 50px;
			right: -100px;
			width: 540px;
			height: 540px;
			opacity: .05;
			background-image: url('../images/logo-mark-black.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: none;

			@media(--800vp) {
				display: block;
			}
		}
	}

	& section.icon-slider {
		padding: var(--LargeSpacing) 0;

		& h2 {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	& section.banner.has-description {
		position: relative;
		background-color: var(--Grey);
		padding-top: 120px;
		clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);

		& h3 {
			color: var(--Purple);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 1px;
			background: var(--GreyDark);
			max-width: var(--Width);
			width: 90%;
			transform: translateX(-50%);
		}
	}
}

@supports (-ms-ime-align: auto) {
	.home section.banner.has-description::after {
		display: none;
	}
}

/*----------------------------------------------------------------*\
	CARD FLIP
\*----------------------------------------------------------------*/
.flip-container {
	perspective: 1000px;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
	width: 100%;
	height: 510px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--Grey);
	padding: var(--Spacing);

	@media(--500vp) {
		padding: var(--Spacing) var(--LargeSpacing);
	}
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}