/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav.navigation-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 10px auto;
	padding: 0 16px;
	position: absolute;
	z-index: 1000;
	transition: top .35s ease-in-out;

	@media(--500vp) {
		margin: var(--SmallSpacing) auto;
	}

	&.is-fixed {
		position: fixed;
		padding: 8px 16px;
		margin: 0 auto;
		border-bottom: 1px solid var(--Grey);
		background-color: var(--White);

		& svg {
			fill: var(--Red);
			height: 50px;
		}

		& a.button {
			border-color: var(--Purple);
			color: var(--Purple);
			padding: .65em 1em;

			&::before {
				background-image: url(../images/button-arrow-purple.svg);
			}

			&:hover,
			&:focus {
				color: var(--White);

				&::before {
					background-image: url(../images/button-arrow.svg);
				}
			}
		}
	}

	& svg {
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 65px;
		width: 200px;
		fill: var(--White);
	}

	& a.button {
		padding: .5em 1.5em;

		@media(--800vp) {
			padding: 1em 2em;
		}

		&::before {
			margin-top: 6px;
			display: none;

			@media(--800vp) {
				display: inline-block;
			}
		}

		&::after {
			background-color: var(--Purple);
		}

		&:hover,
		&:focus {
			border-color: var(--Purple);
		}

		& span {
			display: none;

			@media(--800vp) {
				display: inline-block;
			}
		}
	}
}